{{ 'section-main-product-grid.css' | asset_url | stylesheet_tag }}

<div data-section-id="{{ section.id }}" data-section-type="product-grid-template" class="product-grid">
  <div class="product-grid-search">
    <form class="product-grid-search-form" action="{{ routes.search_url }}">
      <div class="product-grid-search-pad-left"></div>
      <input type="hidden" name="type" value="product">
      <input 
        class="product-grid-search-input"
        type="text"
        placeholder="SEARCH"
        name="q"
        value="{{ search.terms | escape }}"
     >  
    </form>
  </div>
  <ul class="product-grid-list">
    {% for product in products %}
      <li class="product-grid-item-wrap">
        <div class="product-grid-item">
          <a href="{{ product.url }}">
            {% render 'image-responsive', image: product.featured_image, class: 'product-grid-item-image', style:'' %}
          </a>
          <div class="product-grid-caption">
            <div class="product-grid-caption-title">
              {{ product.title }}
            </div>
            <div class="product-attributes-row">
              <div class="product-attributes-key">Discount</div>
              <div class="product-attributes-value">{{product.metafields.custom.discount.value}}</div>
            </div>
            <div class="product-grid-caption-price">
              {{ product.price | money }}
      
                <div class="omgrfq-collection-button" data-product-id="{{ product.id }}"></div>
  <script type="text/javascript">
      window.omgrfqListTags = [];
      {% for tag in product.tags %}
      window.omgrfqListTags.push('{{ tag | escape }}');
      {% endfor %}
      var productOfCollection = {};
      productOfCollection.id = {{ product.id }};
      productOfCollection.created_at = "{{ product.created_at }}";
      productOfCollection.handle = "{{ product.handle }}";
      productOfCollection.image = "{{ product.featured_image | image_url }}";
      productOfCollection.published_at = "{{ product.published_at }}";
      productOfCollection.tags = window.omgrfqListTags;
      productOfCollection.title = "{{ product.title | escape}}";
      productOfCollection.type = "{{ product.type }}";
      productOfCollection.variants = {{ product.variants | json }};
      productOfCollection.vendor = "{{ product.vendor }}";
      productOfCollection.collection = [];
      {% for collection in product.collections %}
      if (typeof productOfCollection.collection === 'undefined') productOfCollection.collection = [];
      productOfCollection.collection.push("{{ collection.title | escape }}");
      {% endfor %}
  
      omgrfq_productCollection[{{ product.id }}] = productOfCollection;
  </script>

            </div>
            
          </div>
        </div>
      </li>
    {% endfor %}
    <div class="product-grid-bottom-line"></div>
  </ul>
</div>
