<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta name="facebook-domain-verification" content="jyvglavwj1n2qqinbf3h52u8phua0q" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <link rel="apple-touch-icon" color="black" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" color="black" href="{{ 'favicon-32x32.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" color="black" href="{{ 'favicon-16x16.png' | asset_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
    <meta name="msapplication-TileColor" content="#f8f7f0">
    <meta name="theme-color" content="#ffffff">
    
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {{ content_for_header }}
    
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {% style %}
    
      @font-face {
        font-family: "Bembo Book";
        src: url({{ 'Bembo Book MT Std.woff2' | asset_url}}) format("woff2"); 
      }

      @font-face {
        font-family: "Mars Extended Web Regular";
        src: url({{ 'Mars Extended Web Regular.woff2' | asset_url}}) format("woff2");
      }
      
      main{
        padding-top: var(--navbar-height) !important;
      }
      .nomargin { 
        margin-top: calc((var(--navbar-height) * -1));
      }
    {% endstyle %}

    {% capture cur %}{% render "booster-currency" %}{% endcapture %}{% unless cur contains "Liquid error" %}{{ cur }}{% endunless %}

   <script>
      const omgCheckScript = setInterval(() => {
      if (document.getElementById('omgrfq-script')) {
        const style = document.createElement('style');
        style.innerHTML = `.money {display: none;}`;
        document.head.appendChild(style);
        clearInterval(omgCheckScript);
      }
  });
  </script>

  {% capture cur %}{% include "booster-currency" %}{% endcapture %}{% unless cur contains "Liquid error" %}{{ cur }}{% endunless %}
</head>
  <!-- Begin Exemptify messages 
  <script>  
    var m4u_ptxt = "{{ shop.metafields['exemptify']['inc_display_text'] }}";
    var m4u_ex_vat_postfix_txt = "{{ shop.metafields['exemptify']['exc_display_text'] }}";
  </script>
  
  <script async src="//www.modules4u.biz/shopify/exemptify/js/fix_prices_v1.js.php?shop=atemporubato.myshopify.com{{ shop.metafields['exemptify']['price_qs'] }}&tax_included={{ cart.taxes_included }}&shop_currency={{ shop.currency }}&actual_currency={{ cart.currency.iso_code }}&num_currencies={{ shop.enabled_currencies | size }}&customer_exempt={{ customer.tax_exempt }}&current_country={{ localization.country.iso_code }}"></script>
  End Exemptify price display -->
  

  <body>
    {%- section 'main-menu' -%}
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    
    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
    </script>
  </body>
</html>
