<div class="article-section-image-wrap">
  {% if section.settings.image == blank %}
    Select image...
  {% else %}
    
      {% capture a_href %}
        {%- if section.settings.page != blank -%}
          {{ section.settings.page.url }}
        {%- elsif section.settings.collection != blank -%}
          {{section.settings.collection.url}}
        {%- elsif section.settings.product != blank -%}
          {{section.settings.product.url}}
        {%- endif -%}
      {% endcapture %}

      <figure class="article-section-gallery-image article-section-gallery-col-1">
        {%- if a_href != blank -%}<a href="{{a_href}}">{%- endif -%}
          {% render 'image-responsive', image: section.settings.image %}
        {%- if a_href != blank -%}</a>{%- endif -%}
        <figcaption>{{ section.settings.caption }}</figcaption>
      </figure>  
  {% endif %}

</div>

{% schema %}
{
  "name": "Image",
  "tag": "section",
  "class": "article-section article-section-image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Link product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Link collection"
    },
    {
      "type": "page",
      "id": "page",
      "label": "Link page"
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}