
{{ 'section-blog.css' | asset_url | stylesheet_tag }}

<div id="blog-post-{{ section.id }}" class="blog-post">

{% if section.blocks.size > 0 and  section.blocks[0].settings.image %}

    {% for block in section.blocks %}

      {% capture a_href %}
        {%- if block.settings.page != blank -%}
          {{ block.settings.page.url }}
        {%- elsif block.settings.collection != blank -%}
          {{block.settings.collection.url}}
        {%- elsif block.settings.product != blank -%}
          {{block.settings.product.url}}
        {%- endif -%}
      {% endcapture %}
      
    {% endfor %}
  
{% endif %}

<h1>{{ article.title }}</h1>

</div>

{% javascript %}
  
  function initBlogPost(){
    return console.log('init blog post')
    // Toggle caption on hover
    var images = document.querySelectorAll('.collage-block * > img')
    
    images.forEach(function(img){
      img.addEventListener('mouseenter', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.add('collage-block-caption-show')
      })
      img.addEventListener('mouseleave', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.remove('collage-block-caption-show')
      })
    })
  }
  document.addEventListener("DOMContentLoaded", initBlogPost);
  document.addEventListener("shopify:section:load", initBlogPost);
  

{% endjavascript %}

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
  "blocks": [{
    "type": "image",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "columns",
        "default": 1,
        "max":4,
        "min":1,
        "step":1,
        "label": "Columns"
      },
      {
        "type": "range",
        "id": "width",
        "default": 100,
        "max":100,
        "min":1,
        "step":1,
        "label": "Width %"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Align",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "flex-start"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Link product"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Link collection"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Link page"
      }  
    ]
  }]
}
{% endschema %}
