
{{ 'section-collage.css' | asset_url | stylesheet_tag }}
{% assign max_columns = 4 %}
{% assign column = 0 %}
{% assign column_width = 0 %}

{% if section.blocks.size > 0 and  section.blocks[0].settings.image %}
  <div id="collage-{{ section.id }}" class="collage">
    
    {% for block in section.blocks %}
      {% render 'log', object:block %}
      {% assign column = column | plus: block.settings.columns %}
      {% if column > max_columns %}
        {% assign column = block.settings.columns %}
      {% endif %}
      
      {% capture style %}
        flex: 0 0 calc({{ block.settings.columns | times: 100 | divided_by: max_columns }}% - 1.5rem);
      {% endcapture %}

      {% capture image_style %}
        max-width: {{ block.settings.width}}%;
      {% endcapture %}
      {% capture picture_style %}
        justify-content: {{block.settings.align}};
      {% endcapture %}

      <div id="collage-block-{{ block.id }}" class="collage-block" style="{{ style }}">
        {%- if block.settings.product.url -%}<a href="{{block.settings.product.url}}">{%- endif -%}
          {% render 'image-responsive', image:block.settings.image, style: image_style, picture_style: picture_style %}
        
        {%- if block.settings.product != blank -%}
          <div class="collage-block-caption" style="{{image_style}}"">
            <div class="collage-block-caption-title">
              {{ block.settings.product.title }}
            </div>
            <div class="collage-block-caption-price">
              {{ block.settings.product.price | money_without_currency }} {{ cart.currency.iso_code }}
            </div>
          </div>
        {%- endif -%}
        {%- if block.settings.product -%}</a>{%- endif -%}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Collage",
  "tag": "section",
  "class": "section",
  "blocks": [{
    "type": "image",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "columns",
        "default": 1,
        "max":4,
        "min":1,
        "step":1,
        "label": "Columns"
      },
      {
        "type": "range",
        "id": "width",
        "default": 100,
        "max":100,
        "min":1,
        "step":1,
        "label": "Width %"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Align",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "flex-start"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Link product"
      }  
    ]
  }]
}
{% endschema %}
