{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="banner-{{ section.id }}" class="banner">
  {%- if section.settings.image != blank -%}
    <div id="banner-box" class="banner-box">
      {% capture style %}
        object-position: {{ section.settings.focal }}% center;
      {% endcapture %}
      <img id="banner-box-image" src="{{ section.settings.image | image_url }}" class="banner-box-image" style="{{style}}"/>
      <div id="banner-box-logo" class="banner-box-logo {% if section.settings.invert-logo == true %} invert{% endif %}">
        <img class="banner-box-logo-image" src="{{ 'rubato-wordmark.svg' | asset_url }}" width="100" height="15" loading="eager"/>
      </div>
    </div>
  {%- endif -%}
</div>

{% javascript %}

  // Hide splash when coming from other url on site
  function initHomePage(){
    var banner = document.querySelector('.banner')
    var bannerImage = document.getElementById('banner-box-image')
    var main = document.querySelector('main')
    var menu = document.getElementById('menu')
    
    if(document.referrer && performance.navigation.type !== performance.navigation.TYPE_RELOAD){
      banner.style.display = 'none'
    }else{
      menu.classList.add('menu-hidden');
      main.classList.add('main-intro');
      
      function handleClick(){ 
        if(banner.classList.contains('banner-slideup')) return
        window.scrollTo(0,0);
        main.classList.add('main-slideup');
        banner.classList.add('banner-slideup');
        menu.classList.add('menu-show'); 
      }

      banner.addEventListener('click', handleClick)
      banner.addEventListener('touchstart', handleClick)

      console.log(bannerImage)
      if(bannerImage.complete) 
        return setTimeout(handleClick, 1500)

      bannerImage.addEventListener('load', function(){
        setTimeout(handleClick, 1500)
      })
    }
  }

  document.addEventListener("DOMContentLoaded", initHomePage);
  document.addEventListener("shopify:section:load", initHomePage);
  
{% endjavascript %}

{% schema %}
{
  "name": "Splash",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "focal",
      "label": "Focal point (mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "invert-logo",
      "label": "Invert logo",
      "default": false
    }
  ]
}
{% endschema %}
