
{{ 'section-blog.css' | asset_url | stylesheet_tag }}

<div id="blog-article-{{ section.id }}" class="blog-article">
  <h1 class="blog-article-header">{{ article.title }}</h1>
  
  <section>
    {{ article.content }}
  </section>
  {{ content_for_layout }}

</div>

{% javascript %}
  
  function initBlogPost(){
    return console.log('init blog post')
    // Toggle caption on hover
    var images = document.querySelectorAll('.collage-block * > img')
    
    images.forEach(function(img){
      img.addEventListener('mouseenter', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.add('collage-block-caption-show')
      })
      img.addEventListener('mouseleave', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.remove('collage-block-caption-show')
      })
    })
  }
  document.addEventListener("DOMContentLoaded", initBlogPost);
  document.addEventListener("shopify:section:load", initBlogPost);
  

{% endjavascript %}