
{{ 'section-blog.css' | asset_url | stylesheet_tag }}
{% render 'log', object: content_for_layout %}

<div id="blog-article-{{ section.id }}" class="blog-article">
  <h1 class="blog-article-header">{{ article.title }}</h1>
  {% if section.blocks.size > 0 and  section.blocks[0].settings.image %}

    {% for block in section.blocks %}

      {% capture a_href %}
        {%- if block.settings.page != blank -%}
          {{ block.settings.page.url }}
        {%- elsif block.settings.collection != blank -%}
          {{block.settings.collection.url}}
        {%- elsif block.settings.product != blank -%}
          {{block.settings.product.url}}
        {%- endif -%}
      {% endcapture %}
      
    {% endfor %}
  
  {% endif %}
  <section>
    {{ article.content }}
  </section>

</div>

{% javascript %}
  
  function initBlogPost(){
    return console.log('init blog post')
    // Toggle caption on hover
    var images = document.querySelectorAll('.collage-block * > img')
    
    images.forEach(function(img){
      img.addEventListener('mouseenter', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.add('collage-block-caption-show')
      })
      img.addEventListener('mouseleave', function(e){
        var caption = e.target.closest('.collage-block').querySelector('.collage-block-caption')
        if(caption)
          caption.classList.remove('collage-block-caption-show')
      })
    })
  }
  document.addEventListener("DOMContentLoaded", initBlogPost);
  document.addEventListener("shopify:section:load", initBlogPost);
  

{% endjavascript %}