<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<!-- Parse sizes table -->
{% assign html = product.description %}
{% if html contains '<table' %}
  {% assign arr = html | split: '<table' %}
  {% assign arr2 = arr[1] | split: '</table>' %}
  {% capture sizes_table %}<table{{ arr2[0] }}</table>{% endcapture %}
  {% assign description = arr[0] | remove: 'Size Chart' %}
{% else %}
  {% assign sizes_table = blank %}
  {% assign description = product.description %}
{% endif %}

{% assign selected_variant = product.selected_or_first_available_variant %}

<section class="product">
  <div class="product-wrap">
    <div class="product-details-wrap">
      <div class="product-details">
        <div class="product-attributes">
          <h2 class="product-attributes-header">
            {{ product.title }}
          </h2>
          {% if product.metafields.custom.color.value != blank %}
          <div class="product-attributes-row">
            <div class="product-attributes-key">Color</div>
            <div class="product-attributes-value">{{product.metafields.custom.color.value}}</div>
          </div>
          {% endif %}
          {% if product.metafields.custom.material.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Material</div>
              <div class="product-attributes-value">{{product.metafields.custom.material.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.made_in.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Made in</div>
              <div class="product-attributes-value">{{product.metafields.custom.made_in.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.cut.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Cut</div>
              <div class="product-attributes-value">{{product.metafields.custom.cut.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.care.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Care</div>
              <div class="product-attributes-value">{{product.metafields.custom.care.value}}</div>
            </div>
          {% endif%}
        </div>
      </div> 
    </div>
    <div class="product-gallery">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for image in product.images %}
            <div class="swiper-slide">
              {% render 'image-responsive', image: image, class:'product-gallery-image', style:'max-width:100%' %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="product-info">
    <div class="product-description-wrap">
      <div class="product-description">
        {% if description %}
          {{ description }}
        {% else %}
          {{ product.description }}
        {% endif %}
      </div>
    </div>
    <div class="product-order-wrap">
      <div class="product-form-wrap">
        <ul class="product-variants">
          {% for variant in product.variants %}
              <li data-id="{{variant.id}}" {%- if variant.available == false -%}disabled{%- endif -%} {% if variant == selected_variant %}selected="selected"{% endif %}>
                {{ variant.title }}
              </li>
          {% endfor %}
        </ul>
        <form id="product-form" action="/cart/add" method="post" enctype="multipart/form-data">
          <select id="product-variant" class="product-variants-select" name="id" data-variant-selector>
            {% for variant in product.variants %}
                <option value="{{variant.id}}" data-id="{{variant.id}}" {%- if variant.available == false -%}disabled{%- endif -%} {% if variant == selected_variant %}selected="selected"{% endif %}>
                  {{ variant.title }}
                </option>
            {% endfor %}
          </select>
          <div class="product-form-buttons">
            <button name="add" id="add" value="Add to Cart" class="product-form-submit">
              Add to cart {{ product.price | money_without_currency }} {{ cart.currency.iso_code }}
            </button>
            <button onclick="location.href='/cart'" class="product-form-view-cart">
              View cart
            </button>
          </div>
        </form> 
      </div>
    </div>
  </div>
  {% if sizes_table != blank %}
    <div class="product-sizes">
      <h2 class="product-sizes-header">
        Size Chart
      </h2>
      <div class="product-sizes-wrap">
        {{ sizes_table }}
      </div>
    </div>
  {% endif %}
</section>
  
{% javascript %}

  function init(){
    initForm()
    initSwiper()

    var menu = document.getElementById('menu')
    menu.classList.add('menu-opaque')

  }

  function initSwiper(){
    var swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centerSlides:true,
      
      spaceBetween:0,
      pagination: {
        el: '.swiper-pagination',
        clickable:true,
      },
    });
  }

  function initForm(){

    var sizes = document.querySelectorAll('ul.product-variants li')
    var sizeSelect = document.getElementById('product-variant')
    var sizeSelector = document.querySelector('ul.product-variants')
    var form = document.getElementById('product-form')
  
    sizeSelector.addEventListener('click', function(e){
      if(e.target.hasAttribute('disabled')) return
      var id = e.target.dataset.id;
      sizeSelect.value = id
      sizes.forEach(function(el){
        el.removeAttribute('selected')
        if(el.dataset.id === id)
          el.setAttribute('selected', true)
      })
    })
  }

  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener("shopify:section:load", init);
  
{% endjavascript %}
