{{ 'section-menu.css' | asset_url | stylesheet_tag }}

<div id="menu">
  <div class="logo">
    <a href="/">
      <img src="{{ 'rubato.svg' | asset_url }}" width="48" height="48">
    </a>
  </div>
  <img 
    id="menu-toggle" 
    src="{{ 'close.svg' | asset_url }}" 
    width="20" 
    height="20"
  >
  <nav id="nav">
    <ul class="navbar">
      {%- for link in section.settings.menu.links -%}  
        <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
          <li>
            {{ link.title | escape }}      
          </li>
        </a>
      {%- endfor -%}
    </ul>
    <ul class="navbar-footer">
      {%- for link in section.settings.menu-footer.links -%}  
        <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
          <li>
            {{ link.title | escape }}
          </li>
        </a>
      {%- endfor -%}
    </ul>
  </nav>
</div>

{% javascript %}

  function initMenu(){
    var menu = document.getElementById('menu')
    var menuToggle = document.getElementById('menu-toggle')
    
    menuToggle.addEventListener('click', function(e){
      menuToggle.classList.toggle('menu--toggle-active')
      menu.classList.toggle('menu-active')
    })

    var bar = document.getElementById('preview-bar-iframe')
    if(bar) bar.remove()
  }

  document.addEventListener("DOMContentLoaded", initMenu);
  document.addEventListener("shopify:section:load", initMenu);

{% endjavascript %}

{% schema %}
{
  "name": "Menu",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu-footer",
      "label": "Menu Footer"
    }
  ]
}
{% endschema %}
