{{ 'section-menu.css' | asset_url | stylesheet_tag }}

{% assign is_home = false %}
{% assign opaque_menu = false %}
{% assign borderless_menu = false %}

{% if request.path == '/' %} {% assign is_home = true %}{% endif %}
{% if request.path == '/' or request.path contains '/pages' %} {% assign borderless_menu = true %}{% endif %}
{% if request.path contains '/products' or request.path contains '/collections' or request.path contains '/pages' or request.path == '/' or request.path == '/cart' or request.path contains '/blogs' %} {% assign opaque_menu = true %}{% endif %}

<div id="menu" class="{%if opaque_menu == true %}menu-opaque{% endif %} {%if borderless_menu == true %}menu-home{% endif %}">
  <div id="cartlink" class="cartlink {%if is_home == true %}home{% endif %}">
    <a href="/cart">
      View cart ({{ cart.items.size }})
    </a>
    <div id="country-selector">
      {% form 'localization' %}
        <select name="country_code">
        {% for country in localization.available_countries %}
          <option value="{{ country.iso_code }}" {%- if country == localization.country %} selected="selected"{% endif %}>
          {{ country.name }} ({{ country.iso_code }})
          </option>
        {% endfor %}
        </select>
        {% endform %}
    </div>
  </div>
  
  <div class="logo">
    <a href="/">
      <img src="{{ 'rubato.svg' | asset_url }}" width="48" height="48">
    </a>
  </div>
  <img id="menu-toggle" src="{{ 'close.svg' | asset_url }}" width="20" height="20">
  <nav id="nav">
    <div class="navbar-wrap">
      <ul class="navbar">
        {%- for link in section.settings.menu.links -%}  
          <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
            <li><h2>{{ link.title | escape }}</h2></li>
          </a>
        {%- endfor -%}
        
      </ul>
    </div>
    <ul class="navbar-footer">
      {%- for link in section.settings.menu-footer.links -%}  
        <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
          <li>{{ link.title | escape }}</li>
        </a>
      {%- endfor -%}
        <a href="/account/login" >
          <li>Login</li>
        </a>
    </ul>
  </nav>
</div>

{% javascript %}

  function initMenu(){
    
    var menu = document.getElementById('menu')
    var cartlink = document.getElementById('cartlink')
    var menuToggle = document.getElementById('menu-toggle')
    
    menuToggle.addEventListener('click', function(e){
      menuToggle.classList.toggle('menu--toggle-active')
      menu.classList.toggle('menu-active')
      console.log(cartlink.classList.contains('home'))
      if(cartlink.classList.contains('home'))
        cartlink.classList.toggle('home-visible')
    })

    var bar = document.getElementById('preview-bar-iframe')
    if(bar) bar.remove()
  }

  function initCountrySelector(){
    console.log('initCountrySelector')
    var countrySelector = document.querySelector('#country-selector select')
    var form = document.querySelector('#country-selector form')
    console.log(form)
    countrySelector.addEventListener('change', function(e){
      console.log('change')
      form.submit()
    })
  }

  function init(){
    initMenu()
    initCountrySelector()
  }

  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener("shopify:section:load", init);

{% endjavascript %}



{% schema %}
{
  "name": "Menu",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu-footer",
      "label": "Menu Footer"
    }
  ]
}
{% endschema %}
