
{{ 'section-blog.css' | asset_url | stylesheet_tag }}

<div id="article-{{ section.id }}" class="article">
  <h1 class="article-header">{{ article.title }}</h1>
  <section>
    {{ article.content }}
  </section>
  {{ content_for_layout }}
</div>

{% javascript %}
  
  function initBlogPost(){
    return console.log('init blog post')
    
  }
  document.addEventListener("DOMContentLoaded", initBlogPost);
  document.addEventListener("shopify:section:load", initBlogPost);
  

{% endjavascript %}