{{ 'section-menu.css' | asset_url | stylesheet_tag }}

<div id="menu">
  <div class="logo">
    <a href="/">
      <img src="{{ 'rubato.svg' | asset_url }}" width="48" height="48">
    </a>
  </div>
  <nav id="nav">
    <ul class="navbar">
      {%- for link in section.settings.menu.links -%}  
        <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
          <li>
            {{ link.title | escape }}      
          </li>
        </a>
      {%- endfor -%}
    </ul>
    <ul class="navbar-footer">
      {%- for link in section.settings.menu-footer.links -%}  
        <a href="{{ link.url }}" {% if link.current %} aria-current="page" class="nav-selected"{% endif %}>
          <li>
            {{ link.title | escape }}
          </li>
        </a>
      {%- endfor -%}
    </ul>
  </nav>
  <img 
    id="menu-toggle" 
    src="{{ 'close.svg' | asset_url }}" 
    width="20" 
    height="20"
  >
</div>

{% schema %}
{
  "name": "Menu",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu-footer",
      "label": "Menu Footer"
    }
  ]
}
{% endschema %}
