{{ 'section-blog.css' | asset_url | stylesheet_tag }}
{% render: 'log', blog %}
<div class="blog">
  <h1 class="blog-header">{{blog.title}}</h1>
  <div class="blog-posts">
    {% for article in blog.articles %}
      {{- article.title | link_to: article.url }}\
      <div class="blog-post">
        <div class="blog-post-image">
        </div>
        <h2 class="blog-post-title">{{blog.articles[0].title}}</h2>
        <p class="blog-post-body">
          {{article.body}}
        </p>
      </div>
    {% endfor %}
  </div>
</div>