<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<!-- Parse sizes table -->
{% assign html = product.description %}
{% if html contains '<table' %}
  {% assign arr = html | split: '<table' %}
  {% assign arr2 = arr[1] | split: '</table>' %}
  {% capture sizes_table %}<table{{ arr2[0] }}</table>{% endcapture %}
  {% assign description = arr[0] | remove: 'Size Chart' %}
{% else %}
  {% assign sizes_table = blank %}
  {% assign description = product.description %}
{% endif %}

{% assign selected_variant = product.selected_or_first_available_variant %}

<section class="product">
  <div class="product-wrap">
    <div class="product-details-wrap">
      <div class="product-details">
        <div class="product-attributes">
          <h2 class="product-attributes-header">
            {{ product.title }}
          </h2>
          {% if product.metafields.custom.color.value != blank %}
          <div class="product-attributes-row">
            <div class="product-attributes-key">Color</div>
            <div class="product-attributes-value">{{product.metafields.custom.color.value}}</div>
          </div>
          {% endif %}
          {% if product.metafields.custom.material.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Material</div>
              <div class="product-attributes-value">{{product.metafields.custom.material.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.made_in.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Made in</div>
              <div class="product-attributes-value">{{product.metafields.custom.made_in.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.cut.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Cut</div>
              <div class="product-attributes-value">{{product.metafields.custom.cut.value}}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.care.value != blank %}
            <div class="product-attributes-row">
              <div class="product-attributes-key">Care</div>
              <div class="product-attributes-value">{{product.metafields.custom.care.value}}</div>
            </div>
          {% endif%}
        </div>
      </div> 
    </div>
    <div id="gallery" class="product-gallery">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for image in product.images %}
            <div class="swiper-slide">
              {% render 'image-responsive', image: image, class:'product-gallery-image', style:'max-width:100%', loading: 'eager' %}
            </div>
          {% endfor %}          
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div id="zoom-wrap" class="product-gallery-zoom-wrap">
        {% for image in product.images %}    
          <img 
            data-index="{{forloop.index}}"
            class="product-gallery-zoom"
            width="100"
            height="100"
            src="{{ image | image_url: width: 3000 }}" 
            alt="{{ image.alt | escape }}" 
            loading="lazy"
          >
        {% endfor %}
      </div>
      <div id="zoom-toggle" class="product-gallery-zoom-toggle">
        <img id="zoom-out" src="{{ 'zoom-out.svg' | asset_url }}" width="20" height="20">
        <img id="zoom-in"  src="{{ 'zoom-in.svg' | asset_url }}" width="20" height="20">
      </div>
    </div>
  </div>
  <div class="product-info">
    <div class="product-description-wrap">
      <div class="product-description">
        {% if description %}
          {{ description }}
        {% else %}
          {{ product.description }}
        {% endif %}
      </div>
    </div>
    <div class="product-order-wrap">
      <div class="product-form-wrap">
        <ul class="product-variants">
          {% for variant in product.variants %}
              <li data-id="{{variant.id}}" data-available="{{ variant.available }}" {% if variant == selected_variant %}selected="selected"{% endif %}>
                {{ variant.title }}
              </li>
          {% endfor %}
        </ul>
        <form id="product-form" action="/cart/add" method="post" enctype="multipart/form-data">
          <select id="product-variant" class="product-variants-select" name="id" data-variant-selector>
            {% for variant in product.variants %}
                <option value="{{variant.id}}" data-id="{{variant.id}}" {%- if variant.available == false -%}disabled{%- endif -%} {% if variant == selected_variant %}selected="selected"{% endif %}>
                  {{ variant.title }}
                </option>
            {% endfor %}
          </select>
          <div class="product-form-buttons">
            <button name="add" id="add" value="Add to Cart" class="product-form-submit button-capitalized">
              Add to cart&nbsp;{{ product.price | money}}
            </button>
            <button onclick="location.href='/cart'" class="product-form-view-cart button-capitalized">
              View cart
            </button>
            <a id="product-unavailable" href="#" class="BIS_trigger hide" data-product-data="{{ product | json | escape }}">
              <button class="product-form-submit button-capitalized">Sold out</button>
              <button class="product-form-view-cart button-capitalized">Email when available</button>
            </a>
          </div>
          
        </form> 
      </div>
    </div>
  </div>
  {% if sizes_table != blank %}
    <div class="product-sizes">
      <h2 class="product-sizes-header">
        Size Chart
      </h2>
      <div class="product-sizes-wrap">
        {{ sizes_table }}
      </div>
    </div>
  {% endif %}
</section>
  
{% javascript %}

  var swiper;

  function init(){
    initForm()
    initSwiper()
    initZoom()
    var menu = document.getElementById('menu')
    menu.classList.add('menu-opaque')
  }

  function initSwiper(){
    swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      centerSlides:true,
      loadPrevNext:true,
      loadPrevNextAmount:3,
      spaceBetween:0,
      pagination: {
        el: '.swiper-pagination',
        clickable:true,
      },
    });
    
    var swiperEl = document.querySelector('.swiper')
    swiperEl.addEventListener('click', function(){ swiper.slideNext() })
  }

  function initForm(){
    console.log('init2')

    var sizes = document.querySelectorAll('ul.product-variants li')
    var sizeSelect = document.getElementById('product-variant')
    var sizeSelector = document.querySelector('ul.product-variants')
    var form = document.getElementById('product-form')
    var formButtons = document.querySelector('.product-form-buttons')
    var formButtonsUnavailable = document.getElementById('product-unavailable')
    

    sizeSelector.addEventListener('click', function(e){
      
      var id = e.target.dataset.id;
      var available = e.target.dataset.available === 'true'
      
      formButtons.classList.toggle('hide', available)
      formButtonsUnavailable.classList.toggle('hide', !available)
      sizeSelect.value = id

      sizes.forEach(function(el){
        el.removeAttribute('selected')
        if(el.dataset.id === id)
          el.setAttribute('selected', true)
      })
    })
  }

  function initZoom(){

    var gallery = document.getElementById('gallery')
    var zoomIn = document.getElementById('zoom-in')
    var zoomOut = document.getElementById('zoom-out')
    var zImage = document.querySelector('#zoom-wrap :nth-child(1)')
    var idx = 0
    var enabled = false

    swiper.on('slideChange', function(e){
      zImage = document.querySelector('#zoom-wrap :nth-child('+ (e.realIndex+1) +')')
      idx = e.realIndex
      console.log(e.realIndex)
    })

    gallery.addEventListener('mousemove', function(e){
      if(!enabled) return
      var w = gallery.clientWidth
      var h = gallery.clientHeight
      var left = (-((e.offsetX/w)) * (zImage.clientWidth-w))
      var top = (-((e.offsetY/h)) * (zImage.clientHeight-h))
      zImage.style.opacity = 1
      zImage.style.marginLeft = left + 'px'
      zImage.style.marginTop = top + 'px'
      console.log(zImage.dataset.index)
    })

    function handleToggle(e){
      enabled = e.target.id === 'zoom-in'
      zImage.style.opacity = !enabled  ?  0 : 1
    }

    zoomIn.addEventListener('click', handleToggle)
    zoomOut.addEventListener('click', handleToggle)

    gallery.addEventListener('mouseenter', function(e){
      if(enabled)
        zImage.style.opacity = 1
    })
    gallery.addEventListener('mouseleave', function(e){
      zImage.style.opacity = 0
    })
  }
  
  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener("shopify:section:load", init);
  
{% endjavascript %}
