
{{ 'section-blog.css' | asset_url | stylesheet_tag }}


  <h1 class="article-header">{{ article.title }}</h1>
  <section id="article-{{ section.id }}" class="article">
    <div class="article-section-content-wrap">
      {{ article.content }}
    </div>
  </section>
  {{ content_for_layout }}


{% javascript %}
  
  function initBlogPost(){
    return console.log('init blog post')
    // TODO: infinite scroll blog posts
  }
  document.addEventListener("DOMContentLoaded", initBlogPost);
  document.addEventListener("shopify:section:load", initBlogPost);
  

{% endjavascript %}