<!-- Minimal -->
<!-- Common Base Styling -->
{% assign primary_font = "Bembo Book"%}
{% assign primary_font_color = "#000000" %} <!-- Black text color -->
{% assign primary_font_size = "13px"%}
{% assign primary_font_url = 'https://cdn.shopify.com/s/files/1/0089/9058/8991/t/13/assets/Bembo%20Book%20MT%20Std.woff2?v=56484387159158497121656157513' %}
{% assign secondary_font = "Mars Extended"%}
{% assign secondary_font_color = "#333333" %} <!-- Grey text color -->
{% assign secondary_font_size = "11px" %}
{% assign secondary_font_url = 'https://cdn.shopify.com/s/files/1/0089/9058/8991/t/13/assets/Mars%20Extended%20Web%20Regular.woff2?v=147000470178114163041656157511' %}
{% assign theme_color = "#949494"%}
{% assign logo_url = 'https://cdn.shopify.com/s/files/1/0089/9058/8991/t/13/assets/rubato.svg?v=173931527945695427741655966433' %}

<script>
    $(function () {
         if (navigator.userAgent.indexOf('Safari') != -1 &&
         navigator.userAgent.indexOf('Chrome') == -1) {
             $("body").addClass("safari");
         }
       });
</script>
<style type="text/css">
    /* ### BASE - PAGE SIZING AND MARGIN SETUP NORMALIZATION ACROSS BROWSERS ### */
      @font-face {
        font-family: "{{primary_font}}";
        src: url({{ primary_font_url }}) format("woff2"); 
      }

      @font-face {
        font-family: "{{secondary_font}}";
        src: url({{ secondary_font_url }}) format("woff2");
      }
      

      @page {
        margin: 12mm !important;
        margin-top: 12mm !important;
        margin-right: 12mm !important;
        margin-bottom: 12mm !important;
        margin-left: 12mm !important;
      }
      @media print {
        .safari {
          padding-top: 15px;
          box-sizing: border-box;
        }
        .printer-preview-content .printer-preview-content {
          padding-left: 15px;
          padding-right: 15px;
          box-sizing: border-box;
          min-height: 247mm;
        }
        
      }
      @media screen {
        .printer-preview-content {
          padding-top: 10px !important;
          padding-bottom: 0px !important;
          min-height: 800px;
        }
        .printer-preview-content .printer-preview-content {
          margin-right: auto;
          margin-left: auto;
          max-width: 680px;
        }
       
      }
      @media screen,print {
    
        /* ### BASE - TYPOGRAPHY AND REMOVAL OF STANDARD SHOPIFY STYLING ### */
        .printer-preview-content .t75753 * {
          color: {{ secondary_font_color }};
          font-family: '{{ primary_font }}';
          font-size: {{ primary_font_size }};
          font-weight: 400;
          line-height: 20px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          -webkit-print-color-adjust: exact;
          overflow: visible !important;
        }
        .printer-preview-content .t75753 h1 {
          font-size: 28px;
          line-height: 40px;
        }
        .printer-preview-content .t75753 h2 {
          font-size: 18px;
          line-height: 20px;
        }
        .printer-preview-content .t75753 h3 {
          font-size: {{secondary_font_size}};
          line-height: 20px;
        }
        .printer-preview-content .t75753 h1,
        .printer-preview-content .t75753 h2,
        .printer-preview-content .t75753 h3 {
          margin-bottom: 20px;
        }
        .printer-preview-content .t75753 a,
        .printer-preview-content .t75753 a * {
          text-decoration: none !important;
        }
        .printer-preview-content .t75753 b,
        .printer-preview-content .t75753 b * {
          font-weight: bold;
        }
        .printer-preview-content .t75753 .text-right {
          text-align: right;
        }
        .printer-preview-content .t75753 .text-center {
          text-align: center;
        }
        .printer-preview-content .t75753 .no-wrap {
          white-space: nowrap;
        }
    
        /* ### BASE - GRID AND RE-USABLE LAYOUT COMPONENTS ### */
        .printer-preview-content .t75753 .row {
          width: 100%;
          display: block;
          clear: both;
        }
        .printer-preview-content .t75753 .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .printer-preview-content .t75753 .col-xs-1,
        .printer-preview-content .t75753 .col-xs-2,
        .printer-preview-content .t75753 .col-xs-3,
        .printer-preview-content .t75753 .col-xs-4,
        .printer-preview-content .t75753 .col-xs-5,
        .printer-preview-content .t75753 .col-xs-6,
        .printer-preview-content .t75753 .col-xs-7,
        .printer-preview-content .t75753 .col-xs-8,
        .printer-preview-content .t75753 .col-xs-9,
        .printer-preview-content .t75753 .col-xs-10,
        .printer-preview-content .t75753 .col-xs-11,
        .printer-preview-content .t75753 .col-xs-12 {
          float: left;
          min-height: 1px;
          margin-bottom: 40px;
        }
        .printer-preview-content .t75753 .col-xs-12 {
          width: 100%;
        }
        .printer-preview-content .t75753 .col-xs-11 {
          width: 91.66666667%;
        }
        .printer-preview-content .t75753 .col-xs-10 {
          width: 83.33333333%;
        }
        .printer-preview-content .t75753 .col-xs-9 {
          width: 75%;
        }
        .printer-preview-content .t75753 .col-xs-8 {
          width: 66.66666667%;
        }
        .printer-preview-content .t75753 .col-xs-7 {
          width: 58.33333333%;
        }
        .printer-preview-content .t75753 .col-xs-6 {
          width: 50%;
        }
        .printer-preview-content .t75753 .col-xs-5 {
          width: 41.66666667%;
        }
        .printer-preview-content .t75753 .col-xs-4 {
          width: 33.33333333%;
        }
        .printer-preview-content .t75753 .col-xs-3 {
          width: 25%;
        }
        .printer-preview-content .t75753 .col-xs-2 {
          width: 16.66666667%;
        }
        .printer-preview-content .t75753 .col-xs-1 {
          width: 8.33333333%;
        }
        .printer-preview-content .t75753 .col-no-margin {
          margin-bottom: 0 !important;
        }
        .printer-preview-content .t75753 .clear-fix::after {
          content: "";
          clear: both;
          display: table;
        }
        .printer-preview-content .t75753 .half-margin-top {
          margin-top: 10px !important;
        }
        .printer-preview-content .t75753 .half-margin-bottom {
          margin-bottom: 10px !important;
        }
        .printer-preview-content .t75753 .margin-bottom {
          margin-bottom: 20px !important;
          margin-top: 1px;
        }
        .printer-preview-content .t75753 .margin-top {
          margin-top: 20px !important;
        }
        .printer-preview-content .t75753 .double-margin-top {
          margin-top: 40px !important;
        }
        .printer-preview-content .t75753 .double-margin-bottom {
          margin-bottom: 40px !important;
        }
    
        .printer-preview-content .t75753 .strikethrough {
          text-decoration: line-through !important;
        }
    
        .printer-preview-content .t75753 .break {
          word-break: break-all !important;
        }
    
        /* ### BASE - TABLE STYLING ### */
        .printer-preview-content .t75753 table,
        .printer-preview-content .t75753 .table {
          width: 100%;
          max-width: 100%;
          background-color: transparent;
          border-collapse: collapse;
        }
        .printer-preview-content .t75753 table thead {
          display: table-row-group;
        }
        .printer-preview-content .t75753 table tbody tr {
          page-break-inside:avoid !important;
          page-break-after:auto !important;
        }
        .printer-preview-content .t75753 table tbody tr td {
          page-break-inside:avoid !important;
        }
        .printer-preview-content .t75753 th {
          white-space: nowrap;
          text-align: left;
          vertical-align: middle;
          border-top: 0;
          border-bottom: 0;
        }
        .printer-preview-content .t75753 td {
          vertical-align: top;
          border-top: 0;
          border-bottom: 0;
        }
        .printer-preview-content .t75753 .order-table tbody > tr td {
          background-color: #FFFFFF;
        }
        .printer-preview-content .t75753 .pricing-table {
          position: relative;
          top: 1px;
        }
        .printer-preview-content .t75753 .pricing-table tbody > tr > td {
          background-color: #FFFFFF;
        }
    /*    .printer-preview-content .t75753 .pricing-table tbody > tr > td.pricing-table-title {
          word-break: break-all;
        }*/
        .printer-preview-content .t75753 th.order-table-qty {
          width: 10%;
        }
        .printer-preview-content .t75753 th.order-table-price {
          width: 10%;
        }
        .printer-preview-content .t75753 th.order-table-item-total,
        .printer-preview-content .t75753 th.order-table-reason {
          width: 17%;
        }
        .printer-preview-content .t75753 th.order-table-return-comments {
          width: 30%;
        }
        .printer-preview-content .t75753 .pricing-table-text {
          text-align: right;
          white-space: nowrap;
        }
    
        /* ### BASE - PRODUCT IMAGE SIZING TO RETAIN LINE HEIGHT RYTHM) ### */
        .printer-preview-content .t75753 .product-image-wrapper {
          width: 0px;
          max-height: 0px;
        }
        .printer-preview-content .t75753 .product-image {
          padding: 0 4px;
          page-break-inside:avoid !important;
          max-width: 0px;
        }
    
        /* ### BASE - LISTS RESET ### */
        .printer-preview-content .t75753 ul {
          list-style: none;
        }
        .printer-preview-content .t75753 li {
          color: {{ secondary_font_color }};
          list-style: none;
        }
    
        /* ### BASE - LOGO ### */
        .printer-preview-content .t75753 .logo-wrapper {
          display: flex;
          width: 100%;
          padding-bottom: 100px;
          align-items:center;
          justify-content:center;
        }
        .printer-preview-content .t75753 .logo-wrapper a img{
          min-width:40px;
          min-height:40px;
        }
        .printer-preview-content .t75753 .logo {
          padding:0;
          border:0;
          margin:0;
          
        }
        
    
        /* ### BASE - BARCODE ### */
        .printer-preview-content .t75753 .order-number-barcode,
        .printer-preview-content .t75753 .product-barcode {
          display: block;
        }
    
        /* ### BASE - ADDITONAL COMMON SHARED TYPOGRAPHY AND ALIGNMENT ### */
        .printer-preview-content .t75753 .address {
          margin-right: 5%;
        }
        .printer-preview-content .t75753 .col-xs-8 .notes,
        .printer-preview-content .t75753 .col-xs-6 .notes {
          margin-right: 20%;
        }
        .printer-preview-content .t75753 .notes-title,
        .printer-preview-content .t75753 .return-codes {
          margin: 10px 0;
        }
        /* ### BASE - HORIZONTAL RULE MARKS ### */
        .printer-preview-content .t75753 hr {
          background: {{ theme_color }};
          border-top: 0;
          border: 0;
          height: 2px;
          width: 100%;
          margin-bottom: -2px;
        }
          /* ### BASE - INTEGRATED LABELS SHARED STYLING ### */
      @media print {
      .safari {
      margin: 4mm;
      padding-top: 0px;
      }
      }
      .printer-preview-content .t75753 {
      padding-top: 0px;
      }
      .printer-preview-content .t75753 #header-row {
      width: 100%;
      display: block;
      }
      .printer-preview-content .t75753 #header-row .shop-address-tax-number {
      display: none;
      }
      .printer-preview-content .t75753 #header-row .address li,
      .printer-preview-content .t75753 #header-row .address li span,
      .printer-preview-content .t75753 #header-row .shop-address li,
      .printer-preview-content .t75753 #header-row .shop-address li span {
      color: {{ primary_font_color }};
      }
      .printer-preview-content .t75753 #header-row .integrated-label-left-content,
      .printer-preview-content .t75753 #header-row .integrated-label-right-content {
      padding: 0 7%;
      }
      .printer-preview-content .t75753 #header-row .integrated-label-address-block {
      position: absolute;
      top: 0%;
      padding: 6% 0 1% 8%;
      width: 86%;
      height: 100%;
      overflow: hidden;
      }
      .printer-preview-content .t75753 #header-row .integrated-label-order-number {
      display: inline-block;
      }
      .printer-preview-content .t75753 #header-row .integrated-label-shop-block {
      position: absolute;
      bottom: 0%;
      padding: 2% 0;
      width: 86%;
      height: 20%;
      border-top: 1px solid {{ theme_color }};
      }
      .printer-preview-content .t75753 #header-row .integrated-label-address-block .shop-address-name {
      padding-top: 15%;
      }
      .printer-preview-content .t75753 #header-row .small-shop-address-logo {
      max-width: 30%;
      height: 100%;
      display: inline-block;
      float: left;
      }
      .printer-preview-content .t75753 #header-row .small-shop-address-logo .small-logo {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      }
      .printer-preview-content .t75753 #header-row .small-shop-address-text {
      width: 65%;
      display: inline-block;
      padding-left: 5%;
      float: left;
      }
      /* ### BASE - SPECIFIC INTEGRATED LABEL STYLING FOR CHOSEN SIZE:  ### */
        /* Integrated Label - Right - 96mm x 64mm */
        .printer-preview-content .t75753 #header-row {
        margin-bottom: 6mm;
        }
        .printer-preview-content .t75753 #header-row .integrated-label-right {
        height: 56mm;
        width: 87%;
        position: relative;
        float: left;
        left: 14%;
        top: 1mm;
        }
        .printer-preview-content .t75753 #header-row .integrated-label-right .shop-address-name,
        .printer-preview-content .t75753 #header-row .integrated-label-right .shop-address-name *,
        .printer-preview-content .t75753 #header-row .integrated-label-right .shop-return-address,
        .printer-preview-content .t75753 #header-row .integrated-label-right .shop-return-address *,
        .printer-preview-content .t75753 #header-row .integrated-label-right ul li,
        .printer-preview-content .t75753 #header-row .integrated-label-right ul li * {
        font-size: 19px;
        line-height: 1.5;
        }
        .printer-preview-content .t75753 #header-row .small-shop-address-text,
        .printer-preview-content .t75753 #header-row .small-shop-address-text * {
        font-size: 10px;
        line-height: 1.5;
        }
    
      }
</style>
<!-- Template Specific Styling -->
<style type="text/css">
    @media screen,print {
    
      /* ### DESIGN SPECIFIC - TYPOGRAPHY ### */
      .printer-preview-content .t75753 h1 {
        font-family: '{{ secondary_font }}';
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: {{ primary_font_color }};
        letter-spacing: 1.5px;
      }
      .printer-preview-content .t75753 h2 {
        font-family: '{{ secondary_font }}';
      }
      .printer-preview-content .t75753 h3 {
        font-family: '{{ secondary_font }}';
        color: {{ theme_color }};
      }
    
      /* ### DESIGN SPECIFIC - STORE DETAILS ### */
      .printer-preview-content .t75753 .shop-address-name {
        color: {{ theme_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
      .printer-preview-content .t75753 .shop-address-block {
        color: {{ theme_color }};
      }
      .printer-preview-content .t75753 .shop-address-block * {
        color: {{ theme_color }};
      }
      .printer-preview-content .t75753 .shop-contact-block b {
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        margin-bottom: 20px;
        display: block;
        font-size: {{secondary_font_size}};
      }
      .printer-preview-content .t75753 .shop-contact-block b * {
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
      .printer-preview-content .t75753 .shop-return-address b,
      .printer-preview-content .t75753 .shop-return-address b * {
        color: {{ primary_font_color }};
      }
    
      /* ### DESIGN SPECIFIC - ORDER DETAILS ### */
      .printer-preview-content .t75753 .order-details-title {
        display: inline-block;
        font-weight: normal;
        color: {{ primary_font_color }};
      }
      .printer-preview-content .t75753 .order-details li:first-of-type {
        margin-bottom: 10px;
        padding-top: 20px;
        border-bottom: 1px solid {{ theme_color }};
        padding-bottom:4px;
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
      .printer-preview-content .t75753 .order-details li:first-of-type * {
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
    
      /* ### DESIGN SPECIFIC - BILL TO AND SHIP TO ADDRESS ### */
      .printer-preview-content .t75753 .address-title {
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: {{secondary_font_size}};
      }
    
      /* ### DESIGN SPECIFIC - TABLE HEADER ### */
      .printer-preview-content .t75753 .order-table thead tr th {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 20px;
        border-bottom: 1px solid {{ theme_color }};
        padding-bottom:4px;
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
    
      /* ### DESIGN SPECIFIC - TABLE BODY (SHARED) ### */
      .printer-preview-content .t75753 .order-table tbody tr td,
      .printer-preview-content .t75753 .pricing-table tbody tr td {
        padding-left: 4px;
        padding-right: 4px;
        border-top: 0;
        padding-top: 10px;
        padding-bottom:10px;
      }
      /* ### DESIGN SPECIFIC - ORDER TABLE SPECIFIC ### */
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-description,
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-qty {
        font-weight: bold;
        color: {{ primary_font_color }};  
      }
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-description a,
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-description p{
        font-size: 11px;
        font-family: "{{ secondary_font }}";
      }
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-description p.line-item-sku {
        font-weight: normal;
      }
      .printer-preview-content .t75753 .order-table tbody > tr > td.line-item-description span.line-item-refund {
        display: inline-block;
        padding: 2px 8px;
        margin-top: 5px;
        background-color: #FFEA8A;
        border-radius: 20px;
      }
    
      /* ### DESIGN SPECIFIC - PRICING TABLE SPECIFIC ### */
      .printer-preview-content .t75753 .pricing-table tbody > tr.pricing-table-total-row td {
        border-top: 1px solid {{ theme_color }};
        padding-top: 4px;
      }
      .printer-preview-content .t75753 .pricing-table tbody > tr.pricing-table-total-row .pricing-table-title,
      .printer-preview-content .t75753 .pricing-table tbody > tr.pricing-table-total-row .pricing-table-title span,
      .printer-preview-content .t75753 .pricing-table tbody > tr.pricing-table-total-row .pricing-table-text {
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ primary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
      .printer-preview-content .t75753 .pricing-table tbody > tr.pricing-table-total-row .pricing-table-title span{
        font-family: '{{ secondary_font }}';
      }
      /* ### DESIGN SPECIFIC - ORDER NOTES ### */
      .printer-preview-content .t75753 .notes {
        margin-top: 20px;
      }
      .printer-preview-content .t75753 .notes-title {
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
    
      /* ### DESIGN SPECIFIC - RETURN FORM REASON CODES ### */
      .printer-preview-content .t75753 .return-codes b,
      .printer-preview-content .t75753 .return-code b * {
        font-weight: bold;
        color: {{ primary_font_color }};
        font-family: '{{ secondary_font }}';
        text-transform: uppercase;
        font-size: {{secondary_font_size}};
      }
    
      /* ### DESIGN SPECIFIC - THANK YOU MESSAGE ### */
      .printer-preview-content .t75753 .thanks-text {
        text-align: right;
        color: {{ theme_color }};
        font-weight: bold;
      }
      .printer-preview-content .t75753 .thanks-text * {
        color: {{ theme_color }};
        font-weight: bold;
      }
    
      /* ### DESIGN SPECIFIC - GIFT MESSAGE ### */
      .printer-preview-content .t75753 .gift-text {
        text-align: right;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: {{secondary_font_size}};
        display: table;
        direction: rtl;
      }
      .printer-preview-content .t75753 .gift-text * {
        font-weight: bold;
        font-size: {{secondary_font_size}};
        text-transform: uppercase;
      }
      .printer-preview-content .t75753 .gift-text svg {
        display: table-cell;
        margin-left: 20px;
        direction: ltr;
      }
      .printer-preview-content .t75753 .gift-text p {
        display: table-cell;
        vertical-align: bottom;
        height: 80px;
        width: 100%;
        direction: ltr;
        top: 4px;
        position: relative;
      }
    
      /* ### DESIGN SPECIFIC - TERMS AND CONDITIONS ### */
      .printer-preview-content .t75753 .terms-text {
        font-size: 11px;
        text-align: right;
      }
      .printer-preview-content .t75753 .terms-text * {
        font-size: 11px;
      }
    
      /* ### DESIGN SPECIFIC - SOCIAL ICONS ### */
      .printer-preview-content .t75753 .social-icons {
        display: inline;
        width: 16px;
        margin-left: 4px;
      }
    
    }

    .footer {
      display:flex;
      width:100%;
      align-items:center;
      font-family:'Bembo Book';
      text-transform: uppercase;
      margin-bottom: -2rem;
      line-height: 1 !important;
      max-height:16px;
    }
    .footer div{
      flex: 1 1 auto;
      font-family:'Bembo Book';
    }
    .footer-url, .footer-email {
      font-size: 11px;
    }
    .footer-email{
      text-align:right;
    }
    .footer-store{
      font-size:18px;
      font-weight:bold;
      text-align:center;
    }

</style>
<div class="printer-preview-content" contenteditable="true" spellcheck="false" title="Click to edit text (changes will be printed but not saved)">
    <div class="t75753">
        <div class="row">
            <div class="col">
                <div class="logo-wrapper">
                    <a href="https://{{ shop.domain }}" target="_blank">
                        <img class="logo" alt="Logo" src="{{logo_url}}" width="40" height="40"/>
                    </a>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="row details-row">
            <div class="col-xs-3">
                <div class="address-title bill-to-title editable" data-key="bill_to">Bill to</div>
                <ul class="address">
                    {% assign billing_address = billing_address | default: customer.default_address %}
                    {% if billing_address and billing_address != blank %}
                        <li>{{ billing_address.name }}</li>
                        {% if billing_address.company != blank %}
                            <li>{{ billing_address.company }}</li>
                        {% endif %}
                        <li>{{ billing_address.address1 }}</li>
                        {% if billing_address.address2 != blank %}
                            <li>{{ billing_address.address2 }}</li>
                        {% endif %}
                        <li>{{ billing_address.zip | upcase }} {{ billing_address.city }}</li>
                        {% if billing_address.province != blank %}
                            <li>{{ billing_address.province }}</li>
                        {% endif %}
                        <li>{{ billing_address.country }}</li>
                        <li><span class="editable" data-key="tel">Tel.</span> {{ billing_address.phone | default: customer.phone }}</li>
                    {% elsif customer != blank %}
                        {% if customer.name != blank %}
                            <li>{{ customer.name }}</li>
                        {% endif %}
                        {% if customer.email != blank %}
                            <li>{{ customer.email }}</li>
                        {% endif %}
                        {% if customer.phone != blank %}
                            <li><span class="editable" data-key="tel">Tel.</span> {{ customer.phone }}</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-4">
                {% if shipping_address and shipping_address != "" and shipping_address != nil %}
                    <div class="address-title ship-to-title editable" data-key="ship_to">Ship to</div>
                {% endif %}
                <ul class="address">
                    {% if shipping_address and shipping_address != blank %}
                        <li>{{ shipping_address.name }}</li>
                        {% if shipping_address.company != blank %}
                            <li>{{ shipping_address.company }}</li>
                        {% endif %}
                        <li>{{ shipping_address.address1 }}</li>
                        {% if shipping_address.address2 != blank %}
                            <li>{{ shipping_address.address2 }}</li>
                        {% endif %}
                        <li>{{ shipping_address.zip | upcase }} {{ shipping_address.city }}</li>
                        {% if shipping_address.province != blank %}
                            <li>{{ shipping_address.province }}</li>
                        {% endif %}
                        <li>{{ shipping_address.country }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-4 text-right">
                
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-no-margin">
                <ul class="order-details">
                    <li class="order-details-invoice">
                        <span class="order-details-title editable" data-key="invoice_number">Invoice No.</span>
                        <span class="order-details-text">{{ order_name }}</span>
                    </li>
                    <li class="order-details-date">
                        <span class="order-details-title editable" data-key="date">Order Date:</span>
                        <span class="order-details-text">{{ created_at | date: "%d/%m/%Y" }}</span>
                    </li>
                    {% assign transaction_text = "" %}
                    {% for transaction in transactions %}
                        {% if transaction.status != "failure" and transaction.status != "error" %}
                            {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                                {% if transaction.payment_details.credit_card_company != blank and transaction.payment_details.credit_card_company != "unknown" %}
                                    {% capture t_text %}{{ transaction.payment_details.credit_card_company }}{% endcapture %}
                                {% else %}
                                    {% capture t_text %}{{ transaction.gateway | replace: "_", " " | capitalize }}{% endcapture %}
                                {% endif %}
                                {% unless transaction_text contains t_text %}
                                    {% if transaction_text != blank %}
                                        {% assign transaction_text = transaction_text | append: ", " %}
                                    {% endif %}
                                    {% assign transaction_text = transaction_text | append: t_text %}
                                {% endunless %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if transaction_text != blank and transaction_text != "manual" %}
                        <li class="order-details-payment">
                            <span class="order-details-title editable" data-key="payment_method">Payment:</span>
                            <span class="order-details-text">{{ transaction_text }}</span>
                        </li>
                    {% endif %}
                    {% if shipping_method.title != blank %}
                        <li class="order-details-shipping">
                            <span class="order-details-title editable" data-key="shipping_method">Shipping:</span>
                            <span class="order-details-text">{{ shipping_method.title }}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-1"></div>
            <div style="float:right !important"  class="col-xs-8 half-margin-bottom">
                <table class="order-table table">
                    <thead>
                        <tr>
                            <th class="order-table-title editable" data-key="item">ItemS</th>
                            <th class="order-table-qty text-center editable" data-key="qty">Qty</th>
                            <th class="order-table-price text-right editable" data-key="price">Price</th>
                            <th class="order-table-item-total text-right editable" data-key="item_total">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Bold Product Options Snippet 1 -->
                        {% assign hidden_variant_ids = "" %}
                        {% for line_item in line_items %}
                            {% if line_item.properties._boldVariantIds %}
                                {% assign hidden_variant_ids = hidden_variant_ids | append: ',' %}
                                {% assign hidden_variant_ids = hidden_variant_ids | append: line_item.properties._boldVariantIds %}
                            {% endif %}
                        {% endfor %}
                        {% assign hidden_variant_ids = hidden_variant_ids | split: ',' %}
                        <!-- END Bold Product Options Snippet 1 -->
                        {% for line_item in line_items %}
                            {% if line_item.quantity < 1 %}{% continue %}{% endif %}
                            <!-- Bold Product Options Snippet 2 -->
                            {% if hidden_variant_ids contains line_item.variant_id %}{% continue %}{% endif %}
                            {% assign adjusted_item_price = line_item.price %}
                            {% assign adjusted_line_price = line_item.price | times: line_item.quantity %}
                            {% for line_item2 in line_items %}
                                {% if line_item.properties._boldVariantIds contains line_item2.variant_id %}
                                    {% assign adjusted_item_price = adjusted_item_price | plus: line_item2.price %}
                                    {% assign adjusted_line_option_price = line_item2.price | times: line_item.quantity %}
                                    {% assign adjusted_line_price = adjusted_line_price | plus: adjusted_line_option_price %}
                                {% endif %}
                            {% endfor %}
                            <!-- END Bold Product Options Snippet 2 -->
                            <tr>
                                <td class="line-item-description">
                                    <p style="font-weight: 700;"><a href="https://{{ shop.domain }}/products/{{ line_item.product.handle }}" style="font-weight: 700;color: inherit;" target="_blank">
                                            {{ line_item.title | replace: " - Default Title", "" }}</a></p>
                                    {% assign refunded_quantity = 0 %}
                                    {% for refund in refunds %}
                                        {% for refund_line_item in refund.refund_line_items %}
                                            {% if line_item.id == refund_line_item.line_item_id %}
                                                {% assign refunded_quantity = refunded_quantity | plus: refund_line_item.quantity %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% if refunded_quantity > 0 %}
                                        <span class="line-item-refund">Refunded × {{ refunded_quantity }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center line-item-qty">× {{ line_item.quantity }}</td>
                                {% assign product_tax = 0.0 %}
                                {% for tax in line_item.tax_lines %}
                                    {% assign per_item_tax = tax.price | divided_by: line_item.quantity %}
                                    {% assign product_tax = product_tax | plus: per_item_tax %}
                                {% endfor %}
                                <td class="text-right no-wrap line-item-price">
                                    <p>{{ adjusted_item_price | money }}</p>
                                </td>
                                <td class="text-right no-wrap line-item-line-price">{{ adjusted_line_price | money }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="pricing-table table">
                    <tbody>
                        {% for discount in discounts %}
                            {% if discount.amount != 0.00 %}
                                <tr>
                                    <td class="pricing-table-title"><span class="editable" data-key="discount">Discount</span>{% if discount.code != blank %} <span class="break">{{ discount.code }}</span>{% endif %}</td>
                                    <td class="pricing-table-text">-{{ discount.amount | money }}</td>
                                </tr>
                            {% endif %}
                        {% else %}
                            {% if total_discounts != 0.00 %}
                                <tr>
                                    <td class="pricing-table-title"><span class="editable" data-key="discount">Discount</span></td>
                                    <td class="pricing-table-text">-{{ total_discounts | money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td class="pricing-table-title editable" data-key="subtotal">Subtotal</td>
                            <td class="pricing-table-text">{{ subtotal_price | money }}</td>
                        </tr>
                        <tr>
                            <td class="pricing-table-title editable" data-key="shipping_handling">Shipping</td>
                            <td class="pricing-table-text">{{ shipping_price | default: 0 | money }}</td>
                        </tr>
                        {% if total_tax != 0.00 and total_tax != blank %}
                            <tr>
                                <td class="pricing-table-title editable" data-key="total_tax">Sales Tax</td>
                                <td class="pricing-table-text">{{ total_tax | money }}</td>
                            </tr>
                        {% endif %}
                        <tr class="pricing-table-total-row">
                            <td class="pricing-table-title"><span class="editable" data-key="total">Total</span></td>
                            <td class="pricing-table-text">{{ total_price | money }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>
<div class="row footer">
  <div class="col footer-url">www.atemporubato.com</div>
  <div class="col footer-store">RUBATO</div>
  <div class="col footer-email">info@atemporubato.com</div>
</div>